[Desktop Entry]
Name=Auto Mode
Exec=~/TARDIS-Pi/go_auto.sh
Icon=galculator
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
Terminal=true
X-KeepTerminal=false
Path=~/TARDIS-Pi/
