[Desktop Entry]
Name=Stop Console
Exec=~/TARDIS-Pi/console_stop.sh
Icon=help-browser
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
Terminal=true
X-KeepTerminal=false
Path=~/TARDIS-Pi/
