[Desktop Entry]
Name=Sensor Log
Exec=~/TARDIS-Pi/sensor_log.sh
Icon=gnome-monitor
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
Terminal=true
X-KeepTerminal=true
Path=~/TARDIS-Pi/
