[Desktop Entry]
Name=Normal Mode
Exec=~/TARDIS-Pi/go_normal.sh
Icon=xscreensaver
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
Terminal=true
X-KeepTerminal=false
Path=~/TARDIS-Pi/
