[Desktop Entry]
Name=Stop Console
Exec=/home/pi/TARDIS-Pi/console_stop.sh
Icon=xfce-man
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
Terminal=true
X-KeepTerminal=false
Path=/home/pi/TARDIS-Pi/
