[Desktop Entry]
Name=Wifi Masq
Exec=~/TARDIS-Pi/00_pi/wifi-to-eth-up.sh
Icon=lxterminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;
StartupNotify=true
Terminal=true
X-KeepTerminal=true
Path=~/TARDIS-Pi/00_pi
